* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.background-image {
  background-image: url('img/bg-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.content {
  background-color: #0A4D68;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 15fr 1.5fr;
}

.header {
  width: 100%;
  height: 100%;
  background-color: #333;
}


.button-image {
  width: 25vw;
  height: 30vh;
  border-radius: 12px;
}

.air-button {
  width: 25vw;
  height: 30vh;
  border-radius: 12px;
  transition: 1.2s;
}

.ground-button {
  width: 25vw;
  height: 30vh;
  border-radius: 12px;
  transition: 1.2s;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.air-button:hover {
  transform: scale(1.1);
  border: 12px;
}

.ground-button:hover {
  transform: scale(1.1);
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nation {
  height: 10vw;
  width: 15vw;
  transition: 1s;
}

.nation:hover {
  border-radius: 1rem;
  transform: scale(1.05);
}

.images {
  height: 10vw;
  width: 20vw;
  border-radius: 2rem;
  transition: 1s;
}

.first-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.second-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.third-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 1.5rem;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
}

.card {
  position: relative;
}

.card:hover .images {
  transform: scale(1.05);
}

.card:hover .overlay {
  opacity: 1;
  transform: scale(1.05);
  transition: 1s;
}

.description {
  align-items: center;
  text-align: center;
}

.first-column {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.second-column {
  flex-direction: column;
}

.third-column {
  flex-direction: column;
}

.description-content {
  display: flex;
  justify-content: space-evenly;
}

.text-box {
  width: 20vw;
  height: 40vh;
  border: 0.01rem solid black;
  border-radius: 1rem;
  padding: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  background-color: #394867;
  align-items: center;
}

.text-box p {
  margin: 0;
}

.description-images {
  height: 10vw;
  width: 20vw;
  border-radius: 2rem;
  transition: 1s;
}